@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    color: #e7e8eb;
    font-weight: 400;
    font-size: 27px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.questionDiv {
    grid-area: questionDiv;
}

.question {
    position: relative;
    height: max-content;
    background: #363636;
    padding: 10px 20px 10px 10px;
    color: white;
    border-top: 1px solid #494949;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto auto;
    grid-template-areas: "allStats title" "allStats ." ;
    grid-gap: 10px;
}

.title {
    color: #378ad3;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto 0 0;
    grid-area: title;
}

.allStats {
    grid-area: allStats;
    display: flex;
    justify-content: space-around;
}

.statistic {
    text-align: center;
    width: 50px;
    height: 50px;
    color: #9fa6ad;
    padding: 5px;
    font-size: 18px;
}

.statistic > p {
    margin: 10px 0;
    font-size: 12px;
}

.answered {
    border: 1px solid #60b171;
    color: #60b171;
    border-radius: 3px;
}

#checkAnswer {
    background: #5a9f70;
    color:azure;
}

.tagsAndOwner {
    display: flex;
    flex-wrap: wrap;
}

.tagItem {
    margin: 5px 5px 0px 0px;
    background-color: #3c4951;
    color: #8cbfc1;
    padding: 7px;
    height: 10px;
    line-height: 10px;
    font-size: 15px;
    border-radius: 3px;
}

.questionOwner {
    color: #9fa6ad;
    font-size: 13px;
    margin-top: 10px;
    margin-left: auto;
}

.questionOwner > a {
    margin-left: 2px;
    margin-right: 2px;
}

#userName {
    color: #378ad3;
    cursor: pointer;
}

.ownerimg {
    width: 30px; 
   position: absolute;
   top: 5px;
   right: 5px;
   z-index: 10;
}