@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.userContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.userItem {
    width: 200px;
    margin: 20px 20px 0 0;
    position: relative;
}

.usersimgs {
    width: 50px;
    border-radius: 3px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}

.usersimgs:hover {
    z-index: 9;
}

.userItem > p {
    margin: 0;
    z-index: -2;
}

.userName {
    margin: 0;
    color: #378ad3; 
    font-size: 14px;
    cursor: pointer;
}

.userName:hover {
    color: #1466ad;
}

.userLocation {
    color: #acb2b8; 
    font-size: 12px;
}

.userRep {
    color: #acb2b8;
    font-size: 12px;
    font-weight: 700;
}

.allTags {
    display: flex;
}

.tags {
    color: #378ad3;
    margin: 0;
    margin-right: 2px;
    font-size: 12px;
    cursor: pointer;
}

.tags:hover {
    color: #1466ad;
}

.priviewUser {
    width: 200px;
    height: 110px;
    overflow: hidden;
    background: #C4C4C4;
    z-index: 8;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 3px;
    padding: 0 0 10px 70px;
}

.priviewUser > p {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0,5px;
    color: rgb(100, 100, 100);
    margin-bottom: 5px;
}

.priviewUser > a {
    margin: 0;
}

.badgesContainer {
    display: flex;
}

.badgesItem {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    color: rgb(80, 79, 79);
    margin-right: 3px;
}

.badge {
    margin: 4px 2px 0 0;
    width: 5px;
    height: 5px;
    border-radius: 50%; 
}

#gold {
    background: gold;
}

#silver {
    background: #969696;
}

#bronze {
    background: #cd7f32;
}

.aboutMe {
    font-size: 10px;
}

/*user page*/

.oneUserName {
    margin-bottom: 0;
}

.mainUsersContainer {
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-areas: "filters allUsers";
}

.mainUser {
    min-height: calc(100vh - 70px);
    margin-bottom: 20px;
    position: relative;
    width: 700px;
}

.mainUser > .userLocation {
    font-size: 20px;
    border-bottom: 2px solid rgb(73, 71, 71);
    margin-bottom: 10px;
    padding: 10px;
}


.aboutUser {
    color: silver;
    margin-left: 10px;
}

.aboutUser > p > a {
    margin-left: 0;
}

.oneUserName {
    color: #378ad3;
}

.badges > .badgesItem {
    font-size: 15px;
    color: #969696;
}

.badges {
    margin-left: 20px;
}

.imgAndBadges {
    height: auto;
    min-height: 400px;
    float: left;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.bigUserImg {
    float: left;
    margin-right: 20px;
    height: 150px;
    margin: 0 0 10px 20px;
}