@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

header {
    background: #363636;
    border-top: 2px solid #f4811f;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    /* background-color: var(--black-025); */
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 50px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    box-sizing: border-box;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    width: 50px;
}

.label {
    position: absolute;
    top: 20px;
}

button {
    position: absolute;
    right: 20px;
    top: 8px;
    background: #348bd4;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    /* width: 70px; */
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button:active {
   margin-top: 1px;
}

button:hover {
    background: #0078cd;
}